/* font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif; */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    background-color: #e5e5e5;
}
p{
    font-size: 16px;
}
.penguin-area {
    padding-bottom: 100px;
}

.penguin-title {
    margin-top: 101px;
}

.penguin-title h1 {
    color: #363958;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
}

.btn {
    margin-top: 8px;
    padding: 0;
}

.btn a {
    text-decoration: none;
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    color: #fff;
    padding: 15px 28px;
    border-radius: 10px;
    transition: .2 ease-in-out;
}
.main-bg{
    padding-top: 53px;
    background-color: #E5E5E5;
}
/* ================
     header end 
===================== */

/* ===============
 jecket sectoin 
============ */
.jacket-title h1{
    font-size: 48px;
    font-family: 'Bebas Neue', cursive ;
    padding-bottom: 25px;
}
.card{
    padding: 20px;
}
.card-img-top{
    margin-left: 10px;
    padding: 20px;
    width: 292px;
height: 293px;
display: flex;
justify-content: center;
background-color:  #F1F1F1;
border-radius: 20px;
}
.man-jacket{
    padding: 50px 0;
}

/* =================
jecket section end
===============*/

.Perfect-section{
    margin-top: 50px;
    padding: 50px;
    background-color: #fff;
}

.pefect-img{
    width: 78px;
    height: 82px;
    text-align: center;
}

.perfect-heading h3{
    color:#363958;
    font-size: 24px;
  
}
.shoping-img img{
    width: 100%;
}




/* =========== 
    responsive area 
================ */
@media only screen and (max-width:950px) {
    .penguin-title h1 {
        font-size: 60px;
    }

    .penguin-title {
        margin-top: 51px;
    }

    .penguin-area {
        padding-bottom: 50px;
    }
    .btn a{
        padding: 10px 15px;
    }
    .pefect-img{
    width: 50%;
    height: auto;
    text-align: center;
}
    .Perfect-section{
    padding: 30px 10px;

}
.perfect-heading{
  text-align: center;
}
}